/* Add this CSS to your existing styles */
.video-carousel {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.video-carousel .carousel-item {
  opacity: 0.4;
  transition: 0.4s ease all;
  margin: -5px; /* Adjust margin for better spacing */
  transform: scale(0.8);
  width: 200px; /* Set the width of the videos */
  height: 300px; /* Set the height of the videos */
  display: inline-block; /* Display videos in a row */
}

@media (max-width: 500px) {
  .video-carousel .carousel-item {
    margin: 0;
    transform: scale(0.9);
    width: 50%; /* Adjust the width for smaller screens if needed */
    height: 100px;
    display: block; /* Display videos in a column for small screens */
  }
}

.video-carousel .slick-center .carousel-item {
  opacity: 1;
  transform: scale(1);
}

.video-carousel .slick-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.video-carousel video {
  margin-top: 30%;
  border-radius: 5px; /* Add border-radius for a card-like appearance */
  max-width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the entire video is visible within the container */
}
